<div class="h-screen w-screen grid grid-cols-6 bg-gray-900">
  <div class="col-span-1 overflow-y-auto">
    <div *ngFor="let user of users" class="p-2 border-b-2 border-gray-400">
      <div class="flex">
        <img [src]="user.avatar" *ngIf="user.avatar" class="rounded-full w-16 h-16 mr-2" />
        <fa-icon [icon]="['fas', icons.regular]" size="4x" *ngIf="!user.avatar" class="rounded-full w-16 h-16 mr-2"></fa-icon>
        <div class="text-sm">
          <p class="text-gray-200">{{ user.username }}</p>
          <p class="text-green-800">{{ user.updatedAt.toDate() | amTimeAgo }}</p>
          <p class="text-gray-600">{{ user.bio.location.address.city }}, {{ user.bio.location.address.country }}</p>
          <p class="text-gray-400" *ngIf="user.bio.github">({{ user.bio.github }})</p>
        </div>
      </div>
      <p class="text-gray-600 hidden md:block" *ngIf="user.bio.description">{{ user.bio.description }}</p>
      <ul *ngIf="user.roles">
        <li *ngFor="let role of user.roles" class="inline-block bg-gray-200 rounded-md mx-1 my-1 p-1">{{ role }}</li>
      </ul>
    </div>
  </div>

  <div class="h-full w-full col-span-4"
    leaflet
    [(leafletZoom)]="zoom"
    [(leafletCenter)]="center"
    [(leafletLayers)]="layers"
  >
  </div>

  <div class="col-span-1 overflow-y-auto h-screen w-screen text-sm">
    <div *ngFor="let event of eventStream" class="p-2">
      <div class="flex">
        <img [src]="event.avatar" *ngIf="event.avatar" class="rounded-full w-8 h-8 mr-2" />
        <fa-icon [icon]="['fas', icons.regular]" size="2x" *ngIf="!event.avatar" class="rounded-full w-8 h-8 mr-2"></fa-icon>
        <div class="text-sm">
          <p class="text-gray-400">{{ event.username }} ({{ event.type }})</p>
          <p class="text-green-800">{{ event.createdAt.toDate()| amTimeAgo }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
